<section class="animate-fadein animate-duration-300 animate-ease-in relative lg:pb-14 lg:py-52 py-36">
    <div class="landing-container mx-auto relative z-10 px-12">
        <div class="relative  max-w-[46rem] mx-auto">
            <div
                class="w-full h-full inset-0 bg-white/64 dark:bg-surface-800 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 rotate-[4deg] lg:rotate-[7deg] backdrop-blur-[90px] rounded-3xl shadow-[0px_87px_24px_0px_rgba(120,149,206,0.00),0px_56px_22px_0px_rgba(120,149,206,0.01),0px_31px_19px_0px_rgba(120,149,206,0.03),0px_14px_14px_0px_rgba(120,149,206,0.04),0px_3px_8px_0px_rgba(120,149,206,0.06)] dark:shadow-sm"
            ></div>
            <div
                class="w-full h-full inset-0 bg-white/64 dark:bg-surface-800 absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 -rotate-[4deg] lg:-rotate-[7deg] backdrop-blur-[90px] rounded-3xl shadow-[0px_87px_24px_0px_rgba(120,149,206,0.00),0px_56px_22px_0px_rgba(120,149,206,0.01),0px_31px_19px_0px_rgba(120,149,206,0.03),0px_14px_14px_0px_rgba(120,149,206,0.04),0px_3px_8px_0px_rgba(120,149,206,0.06)] dark:shadow-sm"
            ></div>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()"
                class="space-y-8 p-8 relative z-10 bg-white/64 dark:bg-surface-800 backdrop-blur-[90px] rounded-3xl shadow-[0px_87px_24px_0px_rgba(120,149,206,0.00),0px_56px_22px_0px_rgba(120,149,206,0.01),0px_31px_19px_0px_rgba(120,149,206,0.03),0px_14px_14px_0px_rgba(120,149,206,0.04),0px_3px_8px_0px_rgba(120,149,206,0.06)]"
            >
                <div class="pt-8">
                    <div class="flex items-center justify-center mb-4">
                        <auth-logo-widget />
                    </div>
                    <h1 class="text-4xl lg:text-6xl font-semibold text-surface-950 dark:text-surface-0 text-center">Giriş Yap</h1>
                    <p class="text-center lg:text-xl text-surface-500 dark:text-white/64 mt-6 max-w-sm mx-auto">Kullanıcı adınızı ve şifrenizi girerek hesabınıza erişin.</p>
                </div>
                <div class="flex flex-col gap-2">
                    <label for="email" class="font-medium text-surface-500 dark:text-white/64">Kullanıcı Adı</label>
                    <input name="email" pInputText id="email"  formControlName="emailOrUserName" class="w-full" />
                </div>
                <div class="flex flex-col gap-2">
                    <label for="password" class="font-medium text-surface-500 dark:text-white/64">Şifre</label>
                    <input name="password" pInputText id="password" type="password" formControlName="password" class="w-full" />
                </div>
                <p-button type="submit" styleClass="w-full mt-8" rounded>Login</p-button>
            </form>
        </div>
    </div>
</section>