.layout-topbar-light {
    --topbar-bg: #ffffff;
    --topbar-menu-button-bg: var(--p-surface-100);
    --topbar-menu-button-hover-bg: var(--p-surface-200);
    --topbar-item-text-color: var(--text-color);
    --topbar-item-hover-bg: var(--p-surface-200);
    --topbar-item-secondary-text-color: var(--text-color-secondary);
}
