/* Header kısmını Flexbox ile düzenleme */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h2 {
  margin: 0;
}

/* İşlem butonlarını sağa hizalamak */
.actions {
  white-space: nowrap;
  width: 1%;
  text-align: center;

  button {
    margin: 0 2px;
  }
}


.p-error {
  color: red;
}

.form-group {
  .flex-wrap {
    padding-bottom: 18px;
    position: relative;
  }
}

.no-header-dialog .p-dialog-header:first-child {
  display: none !important;
}

.p-menu-item-link-active {
  background-color: #007ad9 !important;
  color: #fff !important;
}

.no-padding-menu {
  overflow: hidden !important;
  .p-menu-list {
    padding: 0 !important;
  }
}

p-tablist {
  display: flex;
  overflow-x: auto;
  scrollbar-width: none; /* Firefox */
}

p-tablist::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

p-tab {
  flex: 0 0 auto; /* Sekmeler satıra sığmasa bile taşsın */
  min-width: max-content;
}


::ng-deep .no-background-table .p-datatable {
  background-color: transparent !important;
  border: none !important;
}

::ng-deep .no-background-table .p-datatable-thead > tr,
::ng-deep .no-background-table .p-datatable-tbody > tr {
  background-color: transparent !important;
}

::ng-deep .no-background-table .p-datatable-thead > tr > th,
::ng-deep .no-background-table .p-datatable-tbody > tr > td {
  background-color: transparent !important;
  border: none !important;
}
