<div class="grid grid-cols-2 gap-4">
    <div>
        <div class="grid grid-cols-12">
            <div class="col-span-5 bg-slate-400 text-gray-900 content-center text-center">Günlük Randevularım</div>
            <div class="col-span-2 bg-slate-400"><p-datepicker [(ngModel)]="date" [showIcon]="true"
                    [iconDisplay]="'input'" appendTo="body" dateFormat="dd.mm.yy"
                    (ngModelChange)="onDateChange($event)" /></div>
            <div class="col-span-5 bg-slate-400 text-gray-900 content-center text-center">Günlük Aramalarım</div>
        </div>
        <div class="grid grid-cols-2 gap-1">
            <div class="bg-blue-300 px-2 py-4">
                <p-table [value]="appointments" styleClass="!text-white">
                    <ng-template #body let-record>
                        <tr ngClass="!bg-transparent !text-gray-800">
                            <td>{{record.name}}</td>
                            <td>{{record.phone}}</td>
                            <td style="width:1%"><p-button icon="pi pi-arrow-right" [text]="true" /></td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
            <div class="bg-blue-200">
                <p-table [value]="calls" styleClass="!text-white">
                    <ng-template #body let-record>
                        <tr ngClass="!bg-transparent !text-gray-800">
                            <td>{{record.name}}</td>
                            <td>{{record.phone}}</td>
                            <td style="width:1%"><p-button icon="pi pi-arrow-right" [text]="true" /></td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</div>