.layout-menu-dark {
    --menu-bg: var(--p-surface-900);
    --menu-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.06);
    --root-menuitem-text-color: var(--p-surface-400);
    --menuitem-text-color: var(--p-surface-0);
    --menuitem-hover-bg: var(--p-surface-700);
    --active-menuitem-text-color: var(--primary-color);
}
