<app-dialog [(visible)]="displayModal" header="Satış Yap" (visibleChange)="visibleChangeSalesModal($emit)"
  [breakpoints]="{ '1920px': '40vw', '1366px': '50vw', '960px': '65vw', '640px': '95vw' }">
  <form [formGroup]="salesForm">

    <p-stepper [value]="activeStep" class="basis-[50rem]" [linear]="true">
      <p-step-list>
        <p-step [value]="1">Öğrenci ve Veli Bilgileri</p-step>
        <p-step [value]="2">Eğitim Bilgileri</p-step>
        <p-step [value]="3">Senet Bilgileri</p-step>
      </p-step-list>

      <p-step-panels>

        <p-step-panel [value]="1" [formGroup]="salesForm.get('step1')">

          <ng-template #content>

            <p-fieldset legend="Öğrenci Bilgileri">
              <p-fluid>
                <div class="grid grid-cols-12 gap-4">

                  <div class="col-span-12 md:col-span-4">
                    <label for="firstName">Ad</label>
                    <input pInputText formControlName="firstName"
                      [class.ng-dirty.ng-invalid]="isFieldInvalidSales('firstName')" />
                    <app-validation-message [control]="salesForm.get('step1').controls['firstName']" />
                  </div>

                  <div class="col-span-12 md:col-span-4">
                    <label for="lastName">Soyad</label>
                    <input pInputText formControlName="lastName"
                      [class.ng-dirty.ng-invalid]="isFieldInvalidSales('lastName')" />
                    <app-validation-message [control]="salesForm.get('step1').controls['lastName']" />
                  </div>

                  <div class="col-span-12 md:col-span-4">
                    <label for="identityNumber">T.C Kimlik</label>
                    <p-inputMask formControlName="identityNumber" [mask]="'99999999999'"
                      [class.ng-dirty.ng-invalid]="isFieldInvalidSales('identityNumber')" />
                    <app-validation-message [control]="salesForm.get('step1').controls['identityNumber']" />
                  </div>

                  <div class="col-span-12 md:col-span-4">
                    <label for="birthDate">Doğum Tarihi</label>
                    <p-datepicker id="birthDate" formControlName="birthDate" appendTo="body" dateFormat="dd.mm.yy"
                      [class.ng-dirty.ng-invalid]="isFieldInvalidSales('birthDate')" class="w-full" />
                    <app-validation-message [control]="salesForm.get('step1').controls['birthDate']" />
                  </div>

                  <div class="col-span-12 md:col-span-4">
                    <label for="phone">Telefon</label>
                    <p-inputMask id="phone" formControlName="phone" class="w-full" [mask]="'(999) 999 99 99'"
                      [class.ng-dirty.ng-invalid]="isFieldInvalidSales('phone')" />
                    <app-validation-message [control]="salesForm.get('step1').controls['phone']" />
                  </div>

                  <div class="col-span-12 md:col-span-4">
                    <label for="secondPhone">2.Telefon</label>
                    <p-inputMask id="secondPhone" formControlName="secondPhone" class="w-full"
                      [mask]="'(999) 999 99 99'" [class.ng-dirty.ng-invalid]="isFieldInvalidSales('secondPhone')" />
                    <app-validation-message [control]="salesForm.get('step1').controls['secondPhone']" />
                  </div>

                  <div class="col-span-12 md:col-span-4">
                    <label for="email">E-Posta</label>
                    <input id="email" type="email" pInputText formControlName="email"
                      [class.ng-dirty.ng-invalid]="isFieldInvalidSales('email')" />
                    <app-validation-message [control]="salesForm.get('step1').controls['email']" />
                  </div>

                  <div class="col-span-12 md:col-span-4">
                    <label for="studentType">Tahsil Durumu</label>
                    <p-select id="studentType" [options]="studentTypeOptions" class="w-full"
                      formControlName="studentType" placeholder="Seçiniz" appendTo="body"
                      [class.ng-dirty.ng-invalid]="isFieldInvalidSales('studentType')" />
                    <app-validation-message [control]="salesForm.get('step1').controls['studentType']" />
                  </div>

                  <div class="col-span-12 md:col-span-4 col-start-1 md:col-start-1">
                    <label for="cityId">İl</label>
                    <p-select id="cityId" [options]="cityOptions" class="w-full" formControlName="cityId"
                      placeholder="Seçiniz" appendTo="body"
                      [class.ng-dirty.ng-invalid]="isFieldInvalidSales('cityId')" />
                    <app-validation-message [control]="salesForm.get('step1').controls['cityId']" />
                  </div>

                  <div class="col-span-12 md:col-span-4">
                    <label for="districtId">İlçe</label>
                    <p-select id="districtId" [options]="districtOptions" class="w-full" formControlName="districtId"
                      placeholder="Seçiniz" appendTo="body"
                      [class.ng-dirty.ng-invalid]="isFieldInvalidSales('districtId')" />
                    <app-validation-message [control]="salesForm.get('step1').controls['districtId']" />
                  </div>

                  <div class="col-span-12 md:col-span-8 col-start-1 md:col-start-1">
                    <label for="address">Adres</label>
                    <textarea pTextarea id="address" formControlName="address"
                      [class.ng-dirty.ng-invalid]="isFieldInvalidSales('address')" rows="3"></textarea>
                    <app-validation-message [control]="salesForm.get('step1').controls['address']" />
                  </div>

                  <div class="col-span-12 md:col-span-4">
                    <label class="text-red-800 font-bold">Sözleşmeyi Kim İmzalayacak?</label>
                    <div class="flex flex-wrap gap-4 mt-4">

                      <div class="flex items-center">
                        <p-radiobutton name="signatory" value="student" formControlName="signatory" inputId="student" />
                        <label for="student" class="ml-2">Öğrenci</label>
                      </div>

                      <div class="flex items-center">
                        <p-radiobutton name="signatory" value="parent" formControlName="signatory" inputId="parent" />
                        <label for="parent" class="ml-2">Veli</label>
                      </div>

                    </div>
                    <app-validation-message [control]="salesForm.get('step1').controls['signatory']" />
                  </div>

                </div>
              </p-fluid>
            </p-fieldset>

            <p-fieldset legend="Veli Bilgileri" class="mt-4">
              <p-fluid>
                <div class="grid grid-cols-12 gap-4">

                  <div class="col-span-12 md:col-span-4">
                    <label for="parentFirstName">Ad</label>
                    <input pInputText formControlName="parentFirstName"
                      [class.ng-dirty.ng-invalid]="isFieldInvalidSales('parentFirstName')" />
                    <app-validation-message [control]="salesForm.get('step1').controls['parentFirstName']" />
                  </div>

                  <div class="col-span-12 md:col-span-4">
                    <label for="parentLastName">Soyad</label>
                    <input pInputText formControlName="parentLastName"
                      [class.ng-dirty.ng-invalid]="isFieldInvalidSales('parentLastName')" />
                    <app-validation-message [control]="salesForm.get('step1').controls['parentLastName']" />
                  </div>

                  <div class="col-span-12 md:col-span-4">
                    <label for="parentIdentityNumber">T.C Kimlik</label>
                    <p-inputMask formControlName="parentIdentityNumber" [mask]="'99999999999'"
                      [class.ng-dirty.ng-invalid]="isFieldInvalidSales('parentIdentityNumber')" />
                    <app-validation-message [control]="salesForm.get('step1').controls['parentIdentityNumber']" />
                  </div>

                  <div class="col-span-12 md:col-span-4">
                    <label for="parentBirthDate">Doğum Tarihi</label>
                    <p-datepicker id="parentBirthDate" formControlName="parentBirthDate" appendTo="body"
                      dateFormat="dd.mm.yy" [class.ng-dirty.ng-invalid]="isFieldInvalidSales('parentBirthDate')"
                      class="w-full" />
                    <app-validation-message [control]="salesForm.get('step1').controls['parentBirthDate']" />
                  </div>

                  <div class="col-span-12 md:col-span-4">
                    <label for="parentPhone">Telefon</label>
                    <p-inputMask id="parentPhone" formControlName="parentPhone" class="w-full"
                      [mask]="'(999) 999 99 99'" [class.ng-dirty.ng-invalid]="isFieldInvalidSales('parentPhone')" />
                    <app-validation-message [control]="salesForm.get('step1').controls['parentPhone']" />
                  </div>

                </div>
              </p-fluid>
            </p-fieldset>

            <div class="flex pt-6 justify-end">
              <p-button label="İleri" icon="pi pi-arrow-right" iconPos="right" (onClick)="nextStep()" />
            </div>
          </ng-template>
        </p-step-panel>

        <p-step-panel [value]="2" [formGroup]="salesForm.get('step2')">
          <ng-template #content>
            <p-fieldset legend="Sözleşme Türü">
              <p-fluid>
                <div class="grid grid-cols-12 gap-4 my-4">

                  <div class="col-span-12 md:col-span-6">
                    <div class="flex flex-wrap gap-4">

                      <div class="flex items-center">
                        <p-radiobutton name="contractType" value="0" formControlName="contractType" inputId="genel" />
                        <label for="genel" class="ml-2">Genel</label>
                      </div>

                      <div class="flex items-center">
                        <p-radiobutton name="contractType" value="1" formControlName="contractType"
                          inputId="ozelDers" />
                        <label for="ozelDers" class="ml-2">Özel Ders</label>
                      </div>

                    </div>
                    <app-validation-message [control]="salesForm.get('step2').controls['contractType']" />
                  </div>

                  <div class="col-span-12 md:col-span-6">
                    <div class="flex flex-wrap gap-4">

                      <div class="flex items-center">
                        <p-radiobutton name="educationType" value="0" formControlName="educationType"
                          inputId="yuzyuze" />
                        <label for="yuzyuze" class="ml-2">Yüzyüze</label>
                      </div>

                      <div class="flex items-center">
                        <p-radiobutton name="educationType" value="1" formControlName="educationType"
                          inputId="online" />
                        <label for="online" class="ml-2">Online</label>
                      </div>

                    </div>
                    <app-validation-message [control]="salesForm.get('step2').controls['educationType']" />
                  </div>
                </div>

              </p-fluid>
            </p-fieldset>

            <div class="grid grid-cols-12 gap-4">

              <div class="col-span-12 md:col-span-6">
                <p-fieldset legend="Ders Programı">
                  <p-fluid>
                    <div class="grid grid-cols-12 gap-4">

                      <div class="col-span-12">
                        <p-select id="lessonScheduleId" [options]="lessonScheduleOptions" optionValue="id"
                          optionLabel="schedule" formControlName="lessonScheduleId" placeholder="Seçiniz"
                          appendTo="body" [class.ng-dirty.ng-invalid]="isFieldInvalidSales('lessonScheduleId')"
                          class="w-full">
                          <ng-template let-item #item>
                            <div class="flex items-center gap-2">
                              <div class="w-[140px] border-solid border-black border-r">{{ item.schedule }}</div>
                              <div class="w-[140px] border-solid border-black border-r">{{ item.days | dayShortNames }}
                              </div>
                              <div class="w-[80px]">{{ item.startTime | timeShort }} - {{ item.endTime | timeShort }}
                              </div>
                            </div>
                          </ng-template>
                        </p-select>
                        <app-validation-message [control]="salesForm.get('step2').controls['lessonScheduleId']" />
                      </div>

                      <div *ngIf="lessonSchedule" class="col-span-12 md:col-span-6">
                        <label>Günler</label>
                        <input type="text" pInputText [value]="lessonSchedule?.days | dayShortNames"
                          [disabled]="true" />
                      </div>
                      <div *ngIf="lessonSchedule" class="col-span-12 md:col-span-6">
                        <label>Saatler</label>
                        <input type="text" pInputText
                          [value]="(lessonSchedule?.startTime | timeShort) + ' - ' + (lessonSchedule?.endTime | timeShort)"
                          [disabled]="true" />
                      </div>
                    </div>
                  </p-fluid>
                </p-fieldset>
              </div>

              <div class="col-span-12 md:col-span-6">
                <p-fieldset legend="Eğitim Süresi">
                  <p-fluid>
                    <div class="grid grid-cols-12 gap-4">

                      <div class="col-span-12">
                        <p-select id="educationDuration" [options]="educationDurationOptions"
                          formControlName="educationDuration" placeholder="Seçiniz" appendTo="body"
                          [class.ng-dirty.ng-invalid]="isFieldInvalidSales('educationDuration')" class="w-full" />
                        <app-validation-message [control]="salesForm.get('step2').controls['educationDuration']" />
                      </div>

                    </div>
                  </p-fluid>
                </p-fieldset>
              </div>

            </div>

            <p-fieldset legend="Ödeme Bilgileri">
              <p-fluid>
                <div class="grid grid-cols-12 gap-4">

                  <div class="col-span-12 md:col-span-6">
                    <label for="campaignId">Kampanya</label>
                    <p-select id="campaignId" [options]="campaignOptions" formControlName="campaignId"
                      placeholder="Seçiniz" appendTo="body"
                      [class.ng-dirty.ng-invalid]="isFieldInvalidSales('campaignId')" class="w-full" />
                    <app-validation-message [control]="salesForm.get('step2').controls['campaignId']" />
                  </div>

                  <div class="col-span-12 md:col-span-6">
                    <label for="discountId">Gerekçeli İndirim</label>
                    <p-select id="discountId" [options]="discountOptions" formControlName="discountId"
                      placeholder="Seçiniz" appendTo="body"
                      [class.ng-dirty.ng-invalid]="isFieldInvalidSales('discountId')" class="w-full" />
                    <app-validation-message [control]="salesForm.get('step2').controls['discountId']" />
                  </div>

                  <div class="col-span-12 md:col-span-6">
                    <label for="paymentMethod">Ödeme Türü</label>
                    <div class="flex flex-wrap gap-4 mt-4">

                      <div class="flex items-center">
                        <p-radiobutton name="paymentMethod" value="0" formControlName="paymentMethod" inputId="cash" />
                        <label for="cash" class="ml-2">Nakit</label>
                      </div>

                      <div class="flex items-center">
                        <p-radiobutton name="paymentMethod" value="1" formControlName="paymentMethod" inputId="note" />
                        <label for="note" class="ml-2">Senet</label>
                      </div>

                      <div class="flex items-center">
                        <p-radiobutton name="paymentMethod" value="2" formControlName="paymentMethod"
                          inputId="creditCard" />
                        <label for="creditCard" class="ml-2">Kredi Kartı</label>
                      </div>

                    </div>
                    <app-validation-message [control]="salesForm.get('step2').controls['paymentType']" />
                  </div>

                  <div class="col-span-12 md:col-span-3">
                    <label for="installmentCount">Taksit Sayısı</label>
                    <p-select id="installmentCount" [options]="installmentCountOptions"
                      formControlName="installmentCount" placeholder="Seçiniz" appendTo="body"
                      [class.ng-dirty.ng-invalid]="isFieldInvalidSales('installmentCount')" class="w-full" />
                    <app-validation-message [control]="salesForm.get('step2').controls['installmentCount']" />
                  </div>

                  <div class="col-span-12 md:col-span-3">
                    <label for="deposit">Peşinat</label>
                    <p-inputNumber inputId="deposit" formControlName="deposit" mode="currency" currency="TRY"
                      locale="tr-TR" [class.ng-dirty.ng-invalid]="isFieldInvalidSales('deposit')" />
                    <app-validation-message [control]="salesForm.get('step2').controls['deposit']" />
                  </div>
                </div>

                <hr class="mt-6 mb-6 border-red-700">

                <div class="grid grid-cols-12 gap-4">
                  <div class="col-span-12 md:col-span-4 md:col-start-3">
                    <label for="installmentAmount">Taksitlendirilen Miktar</label>
                    <p-inputNumber inputId="installmentAmount" formControlName="installmentAmount" mode="currency"
                      currency="TRY" locale="tr-TR"
                      [class.ng-dirty.ng-invalid]="isFieldInvalidSales('installmentAmount')" />
                    <app-validation-message [control]="salesForm.get('step2').controls['installmentAmount']" />
                  </div>

                  <div class="col-span-12 md:col-span-4">
                    <label for="totalAmount">Genel Toplam</label>
                    <p-inputNumber inputId="totalAmount" formControlName="totalAmount" mode="currency" currency="TRY"
                      locale="tr-TR" [class.ng-dirty.ng-invalid]="isFieldInvalidSales('totalAmount')" />
                    <app-validation-message [control]="salesForm.get('step2').controls['totalAmount']" />
                  </div>
                </div>
              </p-fluid>
            </p-fieldset>

            <div class="flex pt-6 justify-between">
              <p-button label="Back" icon="pi pi-arrow-left" iconPos="right" (onClick)="completeStep()" />
              <p-button label="İleri" icon="pi pi-arrow-right" iconPos="right" (onClick)="nextStep()" />
            </div>

          </ng-template>
        </p-step-panel>

        <p-step-panel [value]="3">
          <ng-template #content>
            <div class="flex flex-col h-48">
              <div
                class="border-2 border-dashed border-surface-200 dark:border-surface-700 rounded bg-surface-50 dark:bg-surface-950 flex-auto flex justify-center items-center font-medium">
                Content III
              </div>
            </div>
            <div class="flex pt-6 justify-between">
              <p-button label="Back" icon="pi pi-arrow-left" iconPos="right" (onClick)="completeStep()" />
              <p-button label="İleri" icon="pi pi-arrow-right" iconPos="right" (onClick)="nextStep()" />
            </div>
          </ng-template>
        </p-step-panel>
      </p-step-panels>
    </p-stepper>

  </form>
</app-dialog>