<app-dialog [(visible)]="displayModal" header="Satış Yap" (visibleChange)="visibleChangeSalesModal($emit)"
  [breakpoints]="{ '1920px': '40vw', '1366px': '50vw', '960px': '65vw', '640px': '95vw' }">
  <form [formGroup]="salesForm">

    <p-stepper [value]="activeStep" class="basis-[50rem]" [linear]="true">
      <p-step-list>
        <p-step [value]="1">Öğrenci ve Veli Bilgileri</p-step>
        <p-step [value]="2">Eğitim Bilgileri</p-step>
        <p-step [value]="3">Senet Bilgileri</p-step>
      </p-step-list>

      <p-step-panels>

        <p-step-panel [value]="1" [formGroup]="step1">

          <ng-template #content>

            <p-fieldset legend="Öğrenci Bilgileri">
              <p-fluid>
                <div class="grid grid-cols-12 gap-4">

                  <div class="col-span-12 md:col-span-4">
                    <label for="firstName">Ad</label>
                    <input pInputText formControlName="firstName"
                      [class.ng-dirty.ng-invalid]="isFieldInvalid('firstName')" />
                    <app-validation-message [control]="step1.controls['firstName']" />
                  </div>

                  <div class="col-span-12 md:col-span-4">
                    <label for="lastName">Soyad</label>
                    <input pInputText formControlName="lastName"
                      [class.ng-dirty.ng-invalid]="isFieldInvalid('lastName')" />
                    <app-validation-message [control]="step1.controls['lastName']" />
                  </div>

                  <div class="col-span-12 md:col-span-4">
                    <label for="identityNumber">T.C Kimlik</label>
                    <p-inputMask formControlName="identityNumber" [mask]="'99999999999'"
                      [class.ng-dirty.ng-invalid]="isFieldInvalid('identityNumber')" />
                    <app-validation-message [control]="step1.controls['identityNumber']" />
                  </div>

                  <div class="col-span-12 md:col-span-4">
                    <label for="birthDate">Doğum Tarihi</label>
                    <p-datepicker id="birthDate" formControlName="birthDate" appendTo="body" dateFormat="dd.mm.yy"
                      [class.ng-dirty.ng-invalid]="isFieldInvalid('birthDate')" class="w-full" />
                    <app-validation-message [control]="step1.controls['birthDate']" />
                  </div>

                  <div class="col-span-12 md:col-span-4">
                    <label for="phone">Telefon</label>
                    <p-inputMask id="phone" formControlName="phone" class="w-full" [mask]="'(999) 999 99 99'"
                      [class.ng-dirty.ng-invalid]="isFieldInvalid('phone')" />
                    <app-validation-message [control]="step1.controls['phone']" />
                  </div>

                  <div class="col-span-12 md:col-span-4">
                    <label for="secondPhone">2.Telefon</label>
                    <p-inputMask id="secondPhone" formControlName="secondPhone" class="w-full"
                      [mask]="'(999) 999 99 99'" [class.ng-dirty.ng-invalid]="isFieldInvalid('secondPhone')" />
                    <app-validation-message [control]="step1.controls['secondPhone']" />
                  </div>

                  <div class="col-span-12 md:col-span-4">
                    <label for="email">E-Posta</label>
                    <input id="email" type="email" pInputText formControlName="email"
                      [class.ng-dirty.ng-invalid]="isFieldInvalid('email')" />
                    <app-validation-message [control]="step1.controls['email']" />
                  </div>

                  <div class="col-span-12 md:col-span-4">
                    <label for="studentType">Tahsil Durumu</label>
                    <p-select [showClear]="true" id="studentType" [options]="studentTypeOptions" class="w-full" optionValue="id"
                      optionLabel="name" formControlName="studentType" placeholder="Seçiniz" appendTo="body"
                      [class.ng-dirty.ng-invalid]="isFieldInvalid('studentType')" />
                    <app-validation-message [control]="step1.controls['studentType']" />
                  </div>

                  <div class="col-span-12 md:col-span-4 col-start-1 md:col-start-1">
                    <label for="cityId">İl</label>
                    <p-select [showClear]="true" id="cityId" [options]="cityOptions" class="w-full" formControlName="cityId"
                      placeholder="Seçiniz" appendTo="body" optionValue="id" optionLabel="name"
                      [class.ng-dirty.ng-invalid]="isFieldInvalid('cityId')" />
                    <app-validation-message [control]="step1.controls['cityId']" />
                  </div>

                  <div class="col-span-12 md:col-span-4">
                    <label for="districtId">İlçe</label>
                    <p-select [showClear]="true" id="districtId" [options]="districtOptions" class="w-full" formControlName="districtId"
                      placeholder="Seçiniz" appendTo="body" optionValue="id" optionLabel="name"
                      [class.ng-dirty.ng-invalid]="isFieldInvalid('districtId')" />
                    <app-validation-message [control]="step1.controls['districtId']" />
                  </div>

                  <div class="col-span-12 md:col-span-8 col-start-1 md:col-start-1">
                    <label for="address">Adres</label>
                    <textarea pTextarea id="address" formControlName="address"
                      [class.ng-dirty.ng-invalid]="isFieldInvalid('address')" rows="3"></textarea>
                    <app-validation-message [control]="step1.controls['address']" />
                  </div>

                  <div class="col-span-12 md:col-span-4">
                    <label class="text-red-800 font-bold">Sözleşmeyi Kim İmzalayacak?</label>
                    <div class="flex flex-wrap gap-4 mt-4">

                      <div class="flex items-center">
                        <p-radiobutton name="signatory" [value]="SignatoryType.Student" formControlName="signatory" inputId="student" />
                        <label for="student" class="ml-2">Öğrenci</label>
                      </div>

                      <div class="flex items-center">
                        <p-radiobutton name="signatory" [value]="SignatoryType.Parent" formControlName="signatory" inputId="parent" />
                        <label for="parent" class="ml-2">Veli</label>
                      </div>

                    </div>
                    <app-validation-message [control]="step1.controls['signatory']" />
                  </div>

                </div>
              </p-fluid>
            </p-fieldset>

            <p-fieldset legend="Veli Bilgileri" class="mt-4">
              <p-fluid>
                <div class="grid grid-cols-12 gap-4">

                  <div class="col-span-12 md:col-span-4">
                    <label for="parentFirstName">Ad</label>
                    <input pInputText formControlName="parentFirstName"
                      [class.ng-dirty.ng-invalid]="isFieldInvalid('parentFirstName')" />
                    <app-validation-message [control]="step1.controls['parentFirstName']" />
                  </div>

                  <div class="col-span-12 md:col-span-4">
                    <label for="parentLastName">Soyad</label>
                    <input pInputText formControlName="parentLastName"
                      [class.ng-dirty.ng-invalid]="isFieldInvalid('parentLastName')" />
                    <app-validation-message [control]="step1.controls['parentLastName']" />
                  </div>

                  <div class="col-span-12 md:col-span-4">
                    <label for="parentIdentityNumber">T.C Kimlik</label>
                    <p-inputMask formControlName="parentIdentityNumber" [mask]="'99999999999'"
                      [class.ng-dirty.ng-invalid]="isFieldInvalid('parentIdentityNumber')" />
                    <app-validation-message [control]="step1.controls['parentIdentityNumber']" />
                  </div>

                  <div class="col-span-12 md:col-span-4">
                    <label for="parentBirthDate">Doğum Tarihi</label>
                    <p-datepicker id="parentBirthDate" formControlName="parentBirthDate" appendTo="body"
                      dateFormat="dd.mm.yy" [class.ng-dirty.ng-invalid]="isFieldInvalid('parentBirthDate')"
                      class="w-full" />
                    <app-validation-message [control]="step1.controls['parentBirthDate']" />
                  </div>

                  <div class="col-span-12 md:col-span-4">
                    <label for="parentPhone">Telefon</label>
                    <p-inputMask id="parentPhone" formControlName="parentPhone" class="w-full"
                      [mask]="'(999) 999 99 99'" [class.ng-dirty.ng-invalid]="isFieldInvalid('parentPhone')" />
                    <app-validation-message [control]="step1.controls['parentPhone']" />
                  </div>

                </div>
              </p-fluid>
            </p-fieldset>

            <div class="flex pt-6 justify-end">
              <p-button label="İleri" icon="pi pi-arrow-right" iconPos="right" (onClick)="nextStep()" />
            </div>
          </ng-template>
        </p-step-panel>

        <p-step-panel [value]="2" [formGroup]="step2">
          <ng-template #content>
            <p-fieldset legend="Sözleşme Türü">
              <p-fluid>
                <div class="grid grid-cols-12 gap-4 my-4">

                  <div class="col-span-12 md:col-span-6">
                    <div class="flex flex-wrap gap-4">

                      <div class="flex items-center">
                        <p-radiobutton name="contractType" [value]="ContractType.General" formControlName="contractType" inputId="genel" />
                        <label for="genel" class="ml-2">Genel</label>
                      </div>

                      <div class="flex items-center">
                        <p-radiobutton name="contractType" [value]="ContractType.Private" formControlName="contractType"
                          inputId="ozelDers" />
                        <label for="ozelDers" class="ml-2">Özel Ders</label>
                      </div>

                    </div>
                    <app-validation-message [control]="step2.controls['contractType']" />
                  </div>

                  <div class="col-span-12 md:col-span-6">
                    <div class="flex flex-wrap gap-4">

                      <div class="flex items-center">
                        <p-radiobutton name="educationType" value="0" formControlName="educationType"
                          inputId="yuzyuze" />
                        <label for="yuzyuze" class="ml-2">Yüzyüze</label>
                      </div>

                      <div class="flex items-center">
                        <p-radiobutton name="educationType" value="1" formControlName="educationType"
                          inputId="online" />
                        <label for="online" class="ml-2">Online</label>
                      </div>

                    </div>
                    <app-validation-message [control]="step2.controls['educationType']" />
                  </div>
                </div>

              </p-fluid>
            </p-fieldset>

            <div class="grid grid-cols-12 gap-4">

              <div class="col-span-12 md:col-span-6">
                <p-fieldset legend="Ders Programı">
                  <p-fluid>
                    <div class="grid grid-cols-12 gap-4">

                      <div class="col-span-12">
                        <p-select [showClear]="true" id="lessonScheduleId" [options]="lessonScheduleOptions" optionValue="id"
                          optionLabel="schedule" formControlName="lessonScheduleId" placeholder="Seçiniz"
                          appendTo="body" [class.ng-dirty.ng-invalid]="isFieldInvalid('lessonScheduleId')"
                          class="w-full">
                          <ng-template let-item #item>
                            <div class="flex items-center gap-2">
                              <div class="w-[140px] border-solid border-black border-r">{{ item.schedule }}</div>
                              <div class="w-[140px] border-solid border-black border-r">{{ item.days | dayShortNames }}
                              </div>
                              <div class="w-[80px]">{{ item.startTime | timeShort }} - {{ item.endTime | timeShort }}
                              </div>
                            </div>
                          </ng-template>
                        </p-select>
                        <app-validation-message [control]="step2.controls['lessonScheduleId']" />
                      </div>

                      <div *ngIf="lessonSchedule" class="col-span-12 md:col-span-6">
                        <label>Günler</label>
                        <input type="text" pInputText [value]="lessonSchedule?.days | dayShortNames"
                          [disabled]="true" />
                      </div>
                      <div *ngIf="lessonSchedule" class="col-span-12 md:col-span-6">
                        <label>Saatler</label>
                        <input type="text" pInputText
                          [value]="(lessonSchedule?.startTime | timeShort) + ' - ' + (lessonSchedule?.endTime | timeShort)"
                          [disabled]="true" />
                      </div>
                    </div>
                  </p-fluid>
                </p-fieldset>
              </div>

              <div class="col-span-12 md:col-span-6">
                <p-fieldset legend="Eğitim Süresi">
                  <p-fluid>
                    <div class="grid grid-cols-12 gap-4">

                      <div class="col-span-12">
                        <p-select [showClear]="true" id="educationDuration" [options]="educationDurationOptions"
                          formControlName="educationDuration" placeholder="Seçiniz" appendTo="body" optionValue="id"
                          optionLabel="name" [class.ng-dirty.ng-invalid]="isFieldInvalid('educationDuration')"
                          class="w-full" />
                        <app-validation-message [control]="step2.controls['educationDuration']" />
                      </div>

                    </div>
                  </p-fluid>
                </p-fieldset>
              </div>

            </div>

            <p-fieldset legend="Ödeme Bilgileri">
              <p-fluid>
                <div class="grid grid-cols-12 gap-4">

                  <div class="col-span-12 md:col-span-6">
                    <label for="campaignId">Kampanya</label>
                    <p-select [showClear]="true" id="campaignId" [options]="campaignOptions" formControlName="campaignId"
                      placeholder="Seçiniz" appendTo="body" optionValue="id" optionLabel="name"
                      [class.ng-dirty.ng-invalid]="isFieldInvalid('campaignId')" class="w-full" />
                    <app-validation-message [control]="step2.controls['campaignId']" />
                  </div>

                  <div class="col-span-12 md:col-span-6">
                    <label for="discountId">Gerekçeli İndirim</label>
                    <p-select [showClear]="true" id="discountId" [options]="discountOptions" formControlName="discountId"
                      placeholder="Seçiniz" appendTo="body" optionValue="id" optionLabel="name"
                      [class.ng-dirty.ng-invalid]="isFieldInvalid('discountId')" class="w-full" />
                    <app-validation-message [control]="step2.controls['discountId']" />
                  </div>

                  <div class="col-span-12 md:col-span-3">
                    <label for="paymentMethod">Ödeme Türü</label>
                    <p-select [showClear]="true" id="paymentMethod" [options]="paymentMethodOptions" formControlName="paymentMethod"
                      optionValue="id" optionLabel="name" placeholder="Seçiniz" appendTo="body"
                      [class.ng-dirty.ng-invalid]="isFieldInvalid('paymentMethod')" class="w-full" />
                    <app-validation-message [control]="step2.controls['paymentMethod']" />
                  </div>

                  <div class="col-span-12 md:col-span-3">
                    <label for="installmentCount">Taksit Sayısı</label>
                    <p-select [showClear]="true" id="installmentCount" [options]="installmentCountOptions"
                      formControlName="installmentCount" placeholder="Seçiniz" appendTo="body" optionValue="id"
                      optionLabel="name" [class.ng-dirty.ng-invalid]="isFieldInvalid('installmentCount')"
                      class="w-full" />
                    <app-validation-message [control]="step2.controls['installmentCount']" />
                  </div>

                  <div class="col-span-12 md:col-span-3">
                    <label for="firstInstallmentDate">İlk Vade Tarihi</label>
                    <p-datepicker id="firstInstallmentDate" formControlName="firstInstallmentDate" appendTo="body"
                      dateFormat="dd.mm.yy" [class.ng-dirty.ng-invalid]="isFieldInvalid('firstInstallmentDate')"
                      class="w-full" />
                    <app-validation-message [control]="step2.controls['firstInstallmentDate']" />
                  </div>

                  <div class="col-span-12 md:col-span-3">
                    <label for="deposit">Peşinat</label>
                    <p-inputNumber inputId="deposit" formControlName="deposit" mode="currency" currency="TRY"
                      locale="tr-TR" [class.ng-dirty.ng-invalid]="isFieldInvalid('deposit')" />
                    <app-validation-message [control]="step2.controls['deposit']" />
                  </div>
                </div>

                <hr class="mt-6 mb-6 border-red-700">

                <div class="grid grid-cols-12 gap-4">
                  <div class="col-span-12 text-center md:col-span-4 md:col-start-3">
                    <label>Taksitlendirilen Miktar</label>
                    <input type="text" class="!text-rose-600 !text-lg !text-center" pInputText
                      [value]="installmentAmount | currency:'TRY'" [disabled]="true" />
                  </div>

                  <div class="col-span-12 text-center md:col-span-4">
                    <label>Genel Toplam</label>
                    <input type="text" class="!text-rose-700 !text-lg text-center" pInputText
                      [value]="totalAmount | currency:'TRY'" [disabled]="true" />

                  </div>

                  <div class="col-span-12 md:col-span-2">
                    <div class="flex flex-col h-full justify-center">
                      <label for="">&nbsp;</label>
                      <p-button styleClass="w-full" label="Hesapla" icon="pi pi-calculator" iconPos="left"
                        severity="success" (onClick)="calculate()" />
                    </div>
                  </div>
                </div>
              </p-fluid>
            </p-fieldset>

            <div class="flex pt-6 justify-between">
              <p-button label="Geri" icon="pi pi-arrow-left" iconPos="left" (onClick)="prevStep()" />
              <p-button label="İleri" icon="pi pi-arrow-right" iconPos="right" (onClick)="nextStep()" />
            </div>

          </ng-template>
        </p-step-panel>

        <p-step-panel [value]="3">
          <ng-template #content>

            <div class="flex flex-col">
              <div
                class="border-2 py-4 border-dashed border-surface-200 dark:border-surface-700 rounded bg-surface-50 dark:bg-surface-950 flex-auto flex justify-center items-center font-medium">

                <div class="grid grid-cols-12 gap-4">
                  <div class="col-span-12 text-center md:col-span-4">
                    <label>Peşinat</label>
                    <input type="text" class="!text-rose-700 !text-lg text-center" pInputText
                      [value]="deposit | currency:'TRY'" [disabled]="true" />
                  </div>

                  <div class="col-span-12 text-center md:col-span-4">
                    <label>Taksitlendirilen Miktar</label>
                    <input type="text" class="!text-rose-600 !text-lg !text-center" pInputText
                      [value]="installmentAmount | currency:'TRY'" [disabled]="true" />
                  </div>

                  <div class="col-span-12 text-center md:col-span-4">
                    <label>Genel Toplam</label>
                    <input type="text" class="!text-rose-700 !text-lg text-center" pInputText
                      [value]="totalAmount | currency:'TRY'" [disabled]="true" />
                  </div>
                </div>
              </div>
            </div>

            <p-fieldset legend="Ödeme Planı">
              <p-table [value]="installments" stripedRows>
                <ng-template #header>
                  <tr>
                    <th>No</th>
                    <th>Tarih</th>
                    <th>Taksit Tutarı</th>
                  </tr>
                </ng-template>
                <ng-template #body let-record let-index="rowIndex">
                  <tr [ngClass]="{'!text-pink-500': record.isDeposit}">
                    <td>{{ index + 1}}</td>
                    <td>{{record.dueDate | date:'dd.MM.yyyy'}}</td>
                    <td>{{record.amount | currency:'TRY'}} <span *ngIf="record.isDeposit"> (Peşinat)</span></td>
                  </tr>
                </ng-template>
              </p-table>
            </p-fieldset>

            <div class="flex pt-6 justify-between">
              <p-button label="Geri" icon="pi pi-arrow-left" iconPos="left" (onClick)="prevStep()" />
              <p-button label="İleri" icon="pi pi-arrow-right" iconPos="right" (onClick)="completeStep()" />
            </div>

          </ng-template>
        </p-step-panel>
      </p-step-panels>
    </p-stepper>

  </form>
</app-dialog>