<div>
    <p-table [value]="rows" [paginator]="true" [showGridlines]="true" [rows]="maxPageRow" [totalRecords]="totalRecords"
        [lazy]="true" responsiveLayout="scroll" (onLazyLoad)="loadData($event)">
        <ng-template #caption>
            <div class="flex">
                <button pButton type="button" icon="pi pi-plus" label="Yeni {{pageTitle}}" class="p-button-success"
                    pTooltip="{{pageTitle}} {{pageModal}}" tooltipPosition="top" (click)="openModal()"></button>
                <p-iconfield iconPosition="left" class="ml-auto">
                    <p-inputicon>
                        <i class="pi pi-search"></i>
                    </p-inputicon>
                    <input pInputText type="text" #filter (input)="onSearch(filter.value, 'search')"
                        placeholder="Arama.." />
                </p-iconfield>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="branchId">Şube <p-sortIcon field="branch.name" /></th>
                <th pSortableColumn="scheduleCode">Program <p-sortIcon field="scheduleCode" /></th>
                <th pSortableColumn="scheduleCategory">Kategorisi <p-sortIcon field="scheduleCategory" /></th>
                <th pSortableColumn="studentType">Öğrenci Tipi <p-sortIcon field="studentType" /></th>
                <th pSortableColumn="educationType">Eğitim Tipi <p-sortIcon field="educationType" /></th>
                <th pSortableColumn="days">Günler <p-sortIcon field="days" /></th>
                <th pSortableColumn="startTime">Saat <p-sortIcon field="startTime" /></th>
                <th class="actions">İşlemler</th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-record>
            <tr>
                <td>{{ record.branchName }}</td>
                <td>{{ record.schedule }}</td>
                <td>{{ record.scheduleCategory | enumTranslate: ScheduleCategory :'ScheduleCategory' }}</td>
                <td>{{ record.studentType | enumTranslate: ScheduleType :'ScheduleType' }}</td>
                <td>{{ record.educationType | enumTranslate: EducationType: 'EducationType' }}</td>
                <td>{{ record.days | dayShortNames }}</td>
                <td>{{ record.startTime | timeShort }} - {{ record.endTime | timeShort }}</td>
                <td class="actions">
                    <p-button pTooltip="Düzenle" tooltipPosition="top" icon="pi pi-pencil" severity="success"
                        (click)="handleEdit(record.id)" />
                    <p-button pTooltip="Sil" tooltipPosition="top" icon="pi pi-trash" severity="danger"
                        (click)="deleteRecord(record.id)" />
                </td>
            </tr>
        </ng-template>

    </p-table>
</div>

<app-dialog [(visible)]="displayModal" header="{{ pageTitle }} {{ pageModal }}">

    <p-fluid>
        <form [formGroup]="pageForm">
            <app-select-branch [form]="pageForm"></app-select-branch>

            <div class="grid grid-cols-12 gap-4">
                <div class="col-span-12 md:col-span-6 mb-4">
                    <label for="schedule">Program Kodu</label>
                    <input id="schedule" pInputText formControlName="schedule"
                        [class.ng-dirty.ng-invalid]="isFieldInvalid('schedule')" />
                    <app-validation-message [control]="pageForm.controls['schedule']"></app-validation-message>
                </div>
                <div class="col-span-12 md:col-span-6 mb-4">
                    <label for="scheduleCategory">Kategori</label>
                    <p-select id="scheduleCategory" [options]="scheduleCategoryOptions" class="w-full"
                        formControlName="scheduleCategory" placeholder="Seçiniz" appendTo="body"
                        [class.ng-dirty.ng-invalid]="isFieldInvalid('scheduleCategory')" />
                    <app-validation-message [control]="pageForm.controls['scheduleCategory']"></app-validation-message>
                </div>
            </div>

            <div class="grid grid-cols-12 gap-4">
                <div class="col-span-12 md:col-span-6 mb-4">
                    <label for="studentType">Öğrenci Tipi</label>
                    <p-select id="studentType" [options]="studentTypeOptions" class="w-full"
                        formControlName="studentType" placeholder="Seçiniz" appendTo="body"
                        [class.ng-dirty.ng-invalid]="isFieldInvalid('studentType')" />
                    <app-validation-message [control]="pageForm.controls['studentType']"></app-validation-message>
                </div>
                <div class="col-span-12 md:col-span-6 mb-4">
                    <label for="educationType">Eğitim Tipi</label>
                    <p-select id="educationType" class="w-full" [options]="educationTypeOptions"
                        formControlName="educationType" placeholder="Seçiniz" appendTo="body"
                        [class.ng-dirty.ng-invalid]="isFieldInvalid('educationType')" />
                    <app-validation-message [control]="pageForm.controls['educationType']"></app-validation-message>
                </div>
            </div>

            <div class="grid grid-cols-12 gap-4">
                <div class="col-span-12 mb-4">
                    <label for="days">Günler</label>
                    <p-multiSelect id="days" [options]="dayOfWeekOptions" optionLabel="name" optionValue="id"
                        class="w-full" appendTo="body" formControlName="days" placeholder="Gün Seçiniz"
                        [class.ng-dirty.ng-invalid]="isFieldInvalid('days')" />
                    <app-validation-message [control]="pageForm.controls['days']"></app-validation-message>
                </div>
            </div>

            <div class="grid grid-cols-12 gap-4">
                <div class="col-span-12 md:col-span-4">
                    <label for="startTime">Başlangıç Saati</label>
                    <p-inputMask id="startTime" formControlName="startTime" mask="99:99" placeholder="__:__"
                        slotChar="_" [autoClear]="false" [class.ng-dirty.ng-invalid]="isFieldInvalid('startTime')" />

                    <app-validation-message [control]="pageForm.controls['startTime']"></app-validation-message>
                </div>
                <div class="col-span-12 md:col-span-4">
                    <label for="dayHour">Günlük Ders Saati</label>
                    <p-inputNumber id="dayHour" formControlName="dayHour" inputId="dayHour" [min]="1" [max]="12"
                        [showButtons]="true" [step]="1" [class.ng-dirty.ng-invalid]="isFieldInvalid('dayHour')" mode="decimal">
                    </p-inputNumber>
                    <app-validation-message [control]="pageForm.controls['dayHour']"></app-validation-message>
                </div>

                <div class="col-span-12 md:col-span-4">
                    <label for="discount">İndirim</label>
                    <input type="number" id="discount" pInputText formControlName="discount"
                        [class.ng-dirty.ng-invalid]="isFieldInvalid('discount')" />
                    <app-validation-message [control]="pageForm.controls['discount']"></app-validation-message>
                </div>
            </div>
        </form>
    </p-fluid>

    <ng-template #footer>
        <button pButton label="İptal" icon="pi pi-times" class="p-button-secondary" (click)="closeModal()"></button>
        <button pButton label="Kaydet" icon="pi pi-check" class="p-button-success" (click)="saveRecord()"
            [disabled]="pageForm.invalid"></button>
    </ng-template>
</app-dialog>