<p-card header="Takvim">
    <div class="mt-3">
        <full-calendar [options]="calendarOptions"></full-calendar>
    </div>
</p-card>

<p-dialog [modal]="true" [(visible)]="showDialog" [style]="{ width: '30rem' }"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
    <ng-template pTemplate="header">
        <span class="text-900 font-semibold text-xl">
            {{ changedEvent.title }}
        </span>
    </ng-template>
    <ng-template pTemplate="content">
        <div class="mb-6">
            <span class="text-900 font-semibold block mb-2">Açıklama</span>
            <span class="block">{{ changedEvent.description }}</span>
        </div>
        <div class="mb-6">
            <span class="text-900 font-semibold block mb-2">Başlama Zamanı</span>
            <p class="flex align-items-center m-0">
                <i class="pi pi-fw pi-clock text-700 mr-2"></i>
                <span>{{ changedEvent.start.toISOString().slice(0, 10) }}</span>
            </p>
        </div>
        <div class="mb-6">
            <span class="text-900 font-semibold block mb-2">Bitiş Zamanı</span>
            <p class="flex align-items-center m-0">
                <i class="pi pi-fw pi-clock text-700 mr-2"></i>
                <span>{{ changedEvent.end.toISOString().slice(0, 10) }}</span>
            </p>
        </div>
        <div class="mb-6">
            <span class="text-900 font-semibold block mb-2">Konum</span>
            <p class="flex align-items-center m-0">
                <i class="pi pi-fw pi-map-marker text-700 mr-2"></i>
                <span>{{ changedEvent.location }}</span>
            </p>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton label="Kapat" icon="pi pi-check" (click)="handleSave()"></button>
    </ng-template>
</p-dialog>
