<div class="grid grid-cols-12 gap-4">
    <div class="col-span-12 lg:col-span-2">
        <p-menu [model]="menuItems" styleClass="no-padding-menu">
            <ng-template #item let-item>
                <a [routerLink]="item.routerLink" class="p-menu-item-link" routerLinkActive="p-menu-item-link-active">
                    <span class="ml-2">{{ item.label }}</span>
                </a>
            </ng-template>
        </p-menu>
    </div>
    <div class="col-span-12 lg:col-span-10">
        <div class="border bg-white border-gray-300 border-solid p-4 rounded-lg">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>