<div>
    <p-table [value]="rows" [paginator]="true" [showGridlines]="true" [rows]="maxPageRow" [totalRecords]="totalRecords"
        [lazy]="true" responsiveLayout="scroll" (onLazyLoad)="loadData($event)">
        <ng-template #caption>
            <div class="flex">
                <button pButton type="button" icon="pi pi-plus" label="Yeni {{pageTitle}}" class="p-button-success"
                    pTooltip="{{pageTitle}} {{pageModal}}" tooltipPosition="top" (click)="openModal()"></button>
                <p-iconfield iconPosition="left" class="ml-auto">
                    <p-inputicon>
                        <i class="pi pi-search"></i>
                    </p-inputicon>
                    <input pInputText type="text" #filter (input)="onSearch(filter.value, 'search')"
                        placeholder="Arama.." />
                </p-iconfield>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="name">Adı <p-sortIcon field="name" /></th>
                <th pSortableColumn="description">Açıklama <p-sortIcon field="description" /></th>
                <th pSortableColumn="phoneNumber">Telefon<p-sortIcon field="phoneNumber" /></th>
                <th pSortableColumn="email">Email<p-sortIcon field="email" /></th>
                <th class="actions">İşlemler</th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-record>
            <tr>
                <td>{{ record.name }}</td>
                <td>{{ record.description }}</td>
                <td>{{ record.phoneNumber }}</td>
                <td>{{ record.email }}</td>
                <td class="actions">
                    <p-button pTooltip="Düzenle" tooltipPosition="top" icon="pi pi-pencil" severity="success"
                        (click)="handleEdit(record.id)" />
                    <p-button pTooltip="Sil" tooltipPosition="top" icon="pi pi-trash" severity="danger"
                        (click)="deleteRecord(record.id)" />
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<app-dialog [(visible)]="displayModal" header="{{ pageTitle }} {{ pageModal }}">

    <p-fluid>
        <form [formGroup]="pageForm">
            <div class="grid grid-cols-12 gap-4">
                <div class="col-span-12 md:col-span-6 mb-4">
                    <label for="name">Adı</label>
                    <input id="name" pInputText formControlName="name" [class.ng-dirty.ng-invalid]="isFieldInvalid('name')" />
                    <app-validation-message [control]="pageForm.controls['name']"></app-validation-message>
                </div>

                <div class="col-span-12 md:col-span-6 mb-4">
                    <label for="description">Tanım</label>
                    <input id="description" pInputText formControlName="description"
                        [class.ng-dirty.ng-invalid]="isFieldInvalid('description')" />
                    <app-validation-message [control]="pageForm.controls['description']"></app-validation-message>
                </div>
            </div>

            <div class="grid grid-cols-12 gap-4">
                <div class="col-span-12 md:col-span-6 mb-4">
                    <label for="phoneNumber">Telefon Numarası</label>
                    <p-inputMask id="phoneNumber" formControlName="phoneNumber" class="w-full"
                        [mask]="'(999) 999 99 99'" [class.ng-dirty.ng-invalid]="isFieldInvalid('phoneNumber')" />
                    <app-validation-message [control]="pageForm.controls['phoneNumber']"></app-validation-message>
                </div>

                <div class="col-span-12 md:col-span-6 mb-4">
                    <label for="email">Email</label>
                    <input id="email" pInputText formControlName="email" [class.ng-dirty.ng-invalid]="isFieldInvalid('email')" />
                    <app-validation-message [control]="pageForm.controls['email']"></app-validation-message>
                </div>
            </div>

            <div class="grid grid-cols-12 gap-4">
                <div class="col-span-12 mb-4">
                    <label for="address">Adres</label>
                    <textarea pTextarea id="address" formControlName="address"
                        [class.ng-dirty.ng-invalid]="isFieldInvalid('address')" rows="3"></textarea>
                    <app-validation-message [control]="pageForm.controls['address']"></app-validation-message>
                </div>
            </div>

            <div class="grid grid-cols-12 gap-4">
                <div class="col-span-12 md:col-span-4">
                    <label for="lessonDurationInMinutes">Ders Süresi (dk)</label>
                    <p-inputNumber id="lessonDurationInMinutes" formControlName="lessonDurationInMinutes" [min]="1"
                        [step]="5" [showButtons]="true" [class.ng-dirty.ng-invalid]="isFieldInvalid('lessonDurationInMinutes')"
                        mode="decimal"></p-inputNumber>
                    <app-validation-message
                        [control]="pageForm.controls['lessonDurationInMinutes']"></app-validation-message>
                </div>

                <div class="col-span-12 md:col-span-4">
                    <label for="breakDurationInMinutes">Ara Süresi (dk)</label>
                    <p-inputNumber id="breakDurationInMinutes" formControlName="breakDurationInMinutes" [min]="0"
                        [step]="5" [showButtons]="true" [class.ng-dirty.ng-invalid]="isFieldInvalid('breakDurationInMinutes')"
                        mode="decimal"></p-inputNumber>
                    <app-validation-message
                        [control]="pageForm.controls['breakDurationInMinutes']"></app-validation-message>
                </div>

                <div class="col-span-12 md:col-span-4">
                    <label for="levelDurationInHours">Seviye Süresi (saat)</label>
                    <p-inputNumber id="levelDurationInHours" formControlName="levelDurationInHours" [min]="1" [step]="1"
                        [showButtons]="true" [class.ng-dirty.ng-invalid]="isFieldInvalid('levelDurationInHours')"
                        mode="decimal"></p-inputNumber>
                    <app-validation-message
                        [control]="pageForm.controls['levelDurationInHours']"></app-validation-message>
                </div>
            </div>
        </form>
    </p-fluid>

    <ng-template #footer>
        <button pButton label="İptal" icon="pi pi-times" class="p-button-secondary" (click)="closeModal()"></button>
        <button pButton label="Kaydet" icon="pi pi-check" class="p-button-success" (click)="saveRecord()"
            [disabled]="pageForm.invalid"></button>
    </ng-template>
</app-dialog>